<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Movie Search</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button ion-button (click)="onSearch()">Goto Home</button>

  <ion-item>	
    <ion-label floating>Keyword</ion-label>	
    <ion-input type="text" [(ngModel)]="keyword"></ion-input>
    <button ion-button (click)="onGo()" item-end>Go</button>
  </ion-item>
  

  <ion-fab bottom right>	
    <button ion-fab (click)="onSearch()">		
      <ion-icon name='home'></ion-icon>
    </button>
  </ion-fab>

  <ion-list *ngIf="results">
    <ion-item>
      <ion-label floating>Filter</ion-label>	
      <ion-input type="text" [(ngModel)]="filterKeyword" (keyup)='onFilter()'></ion-input>
    </ion-item>
        <ion-item *ngFor="let result of results">
        <ion-thumbnail item-start>
          <img [src]="result.Poster">
        </ion-thumbnail>
        <ion-label>
            <h3>Title: {{result.Title}}</h3>
            <p>Year: {{result.Year}} </p>
            <p>Actors: {{result.Actors}}</p>
            </ion-label>
      </ion-item>
    </ion-list>
    
</ion-content>
