<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Movie With Title</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button ion-button (click)="onSearch()">Goto Search</button>

  <ion-item>	
    <ion-label floating>Keyword</ion-label>	<ion-input type="text" [(ngModel)]="keyword"></ion-input>
    <button ion-button (click)="onGo()" item-end>Go</button>
  </ion-item>
  

  <ion-fab bottom right>	
    <button ion-fab (click)="onSearch()">		
      <ion-icon name='search'></ion-icon>
    </button>
  </ion-fab>
  
  <ion-list>
      <ion-item *ngIf="result && result.Response=='True'">
        <ion-thumbnail item-start>
          <img [src]="result.Poster">
        </ion-thumbnail>
        <ion-label>
            <h3>Title: {{result.Title}}</h3>
            <p>Year: {{result.Year}} </p>
            <p>Actors: {{result.Actors}}</p>
            </ion-label>
      </ion-item>
    </ion-list>
    
</ion-content>
